<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>
<body>
    <header>
        <div class="logoybuscador">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="">
            </div>

            <div class="buscador" >
        
                    <input type="search" name="buscador" placeholder="Buscar productos, marcas y más.">
                    <i class="fas fa-search"></i>
            
            </div>
        
            <div class="encabezados" >
                <p><i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <nav class="barraNavegacion">
            <p>
                <ul>
                    <li><a href=""> Ofertas</a></li>
                    <li><a href=""> Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li> <a href=""> Ayuda</a></li>
                </ul>
            </p>

            <p >       
                <ul>
                    <li><a href="/register"> Creá tu cuenta</a></li>
                    <i class="far fa-address-card"></i>
                    <li><a href="/login"> Ingresá</a></li>
                    <i class="fas fa-sign-in-alt"></i>
                    <li> <a href=""> Mis compras</a></li>
                    <i class="fas fa-shopping-basket"></i>
                </ul>
            </p>
        </nav>
        <div class="botonMenu">
            <button type="button"><i class="fas fa-bars"></i></button>
        </div>
    </header>

    <main class="login">
        <form action="/login" method="POST">
            <p> 
                <input type="text" name="nombre y apellido" placeholder="Nombre y apellido">
            </p>
            <p>
                <input type="text" name="usuario" placeholder="Nombre de Usuario">
            </p>
            <p> 
                <input type="email" name="email" placeholder="E-mail">
            </p>

                <label for="nacimiento">Fecha de nacimiento</label>
                    <p>
                        <input type="date" name="nacimiento" id="">
                    </p>
            <p>
                <input type="text" name="domicilio" placeholder="Domicilio">
            </p>

                <h3 class="items"><label for="perfil usuario"> Perfil del usuario</label></h3>
                    <p>
                        <input class="radio" type="radio" name="Perfil" value="C"id="C">
                        <label  class="radio" for="C">Comprador</label>

                        <input class="radio" type="radio" name="Perfil" value="V" id="V">
                        <label class="radio"for="V">Vendedor</label>


                    </p> 

                <h3 class="items "><label for="">Intereses</label></h3>
                    <div class="checkbox">
                    <p>
                        
                        <input class="checkbox"  type="checkbox" name="Intereses" id="Electro" value="Electro">
                        <label class="checkbox" for="Electro">Electro</label>


                    </p>
                    <p>
                        <input class="checkbox"  type="checkbox" name="Intereses" id="Moda"  value="Moda">
                        <label class="checkbox"  for="Moda">Moda</label>


                    </p>
                    <p>
                        <input class="checkbox" type="checkbox" name="Intereses" id="Hogar"  value="Hogar">
                        <label class="checkbox" for="Hogar">Hogar</label>

                    </p>
                    <p>
                        <input class="checkbox" type="checkbox" name="Intereses" id="Jugeteria" value="Jugeteria">
                        <label class="checkbox" for="Jugeteria">Jugeteria</label>

                    </p>
                    <p>
                        <input class="checkbox" type="checkbox" name="Intereses" id="Vida sana" value="Vida sana">
                        <label class="checkbox" for="Vida sana">Vida sana</label>

                    </p>
                </div>
    
                <h3 class="items"><label for="">Elegí tu foto de usuario</label></h3>
                    <p>
                        <input type="file" name="foto de perfil"> 
                    </p>
                    <p>
                        <input type="password" name="contraseña" placeholder="Elegí tu contraseña">
                    </p>
            <p>
                <input type="password" name="contraseña" placeholder="Confirma tu constraseña">
            </p>
            <p>
                <button class="submit" type="submit">Enviar</button>
            </p>
            <p>
                <button class="reset" type="reset">Borrar</button>
            </p>
        </form>
    </main>

    <footer>
        <article class="pago">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <article class="envios">
            <i class="fas fa-gift"></i>
            <h3 class="titulos footer">Envío gratis desde los $ 2.500</h3>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
        </article>    

        <article class="seguridad">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@. </p>
        </article>
        <div class="copyright">
            <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>